/*.custom-container {
    margin: 0 auto;
    max-width: 1200px; 
    display: flex;
    height: 200px;
    width: auto; 
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}*/

.custom-container img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
}


   .custom-container > div {
    width: 33%; 
    margin-bottom: 50px;
    display: flex;
    justify-content: center; 
}

.custom-container p {
    position: absolute;
    bottom: -30px; 
    left: 0; 
    right: 0; 
    margin: auto; 
    text-align: center; 
    font-weight: bold;
    color: red;
}