@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    .about-product {
        margin: auto;
        line-height: 1.5;
        background: #f6c2da;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        width: 800px;
        margin-bottom: 20px;
        text-align: center;
    }

        .about-product img {
            width: 50%;
            height: 50%;
            margin: auto;
            margin-bottom: 10px;
        }

</style>



<div class="about-product">
    <img src="~/imagini/purple-flower.jpg" alt="Descrierea imaginii">
    <p>
        <strong>Program:</strong> Luni - Vineri: 09:00 - 18:00<br>
        <strong>Telefon:</strong> +40 123 123 123<br>
        <strong>Adresa Bucuresti:</strong> Strada Principala, Nr. 1<br>
        <strong>Adresa Craiova:</strong> Strada Principala, Nr. 2<br>
        <strong>Email:</strong> florarieonline@gmail.com<br>
    </p>
    <a href="https://www.facebook.com/uwu" target="_blank">Facebook<br></a>
</div>

