@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<style>
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(245, 215, 215);
        font-size: 40px;
        z-index: 1;
    }

</style>

<div class="home-product">
    <video width="100%" height="100%" autoplay loop controls>
        <source src="~/video/home_58142.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div class="text-overlay">
        @* @if (SignInManager.IsSignedIn(User))
        {
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Profil" asp-route-id="@currentUser.Id">
                O primavara frumoasa va dorim!
            </a>
        
        }
        else
        { 
            <a class="nav text-white" id="login" asp-area="Identity" asp-page="/Account/Login">
                O primavara frumoasa va dorim!
            </a>
        } *@
    </div>
</div>
