@model ProiectPAW.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productID" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="availableStock" class="control-label"></label>
                <input asp-for="availableStock" class="form-control" />
                <span asp-validation-for="availableStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryID" class="control-label"></label>
                <select asp-for="categoryID" class="form-control" asp-items="ViewBag.categoryID"></select>
                <span asp-validation-for="categoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="providerID" class="control-label"></label>
                <select asp-for="providerID" class="form-control" asp-items="ViewBag.providerID"></select>
                <span asp-validation-for="providerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
