@model ProiectPAW.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dateOfPlacement" class="control-label"></label>
                <input asp-for="dateOfPlacement" class="form-control" />
                <span asp-validation-for="dateOfPlacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mesaj" class="control-label"></label>
                <input asp-for="mesaj" class="form-control" />
                <span asp-validation-for="mesaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefon" class="control-label"></label>
                <input asp-for="telefon" class="form-control" />
                <span asp-validation-for="telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresa" class="control-label"></label>
                <input asp-for="adresa" class="form-control" />
                <span asp-validation-for="adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userID" class="control-label"></label>
                <select asp-for="userID" class ="form-control" asp-items="ViewBag.userID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
